body {
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(20, 0, 200, 0.2);
}

.title {
  text-align: center;
  font-size: 100px;
  border: 4px dotted black;
  margin-top: 0;
  background-color: lightblue;
  color: black;
  border-radius: 10px;
  /* text-shadow: 3px 3px; */
}

#root {
  border: 4px dotted  black;
  width: 80vw;
  background-color: lightskyblue;
  border-radius: 5px;
  
}